/* Full Section */
*{
   margin: 0;
   padding: 0;
   text-decoration: 0;
   box-sizing: border-box;
}

section{
   max-width: 1200px;
   width: 100%;
   margin: 5%;
}
/* TV */
#tv-screen{
   background-repeat: no-repeat;
   background-size: cover;
   height: 375px;
   max-width: 700px;
   width: 100%;
   border: 20px solid #222222;
   border-radius: 4px;
}

/* Remote */